<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coffee.mybatis.mapper.DeptMapper">
    <resultMap id="dept" type="Dept">
        <id column="did" property="did"/>
        <result property="deptName" column="deptName"/>
        <collection property="emps" ofType="Emp" column="did" select="com.coffee.mybatis.mapper.EmpMapper.getEmpByDid" />
    </resultMap>
    <select id="getDept" resultMap="dept">
        select * from t_dept where did = #{did}
    </select>
</mapper>